# Python
__pycache__/
*.pyc
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx
credentials.json
secrets.json
service-account*.json
token*.json
venv/
conda-meta/

# Node
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Project Specific Exclusions
app/storage/bw/
app/backend/logs/

# AI Models
app/ai_pipeline/models/